footer.bg-dark.text-center.text-white {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
body{
    background: url("images/slider-bg.jpg") no-repeat center center;
    background-size: cover;
}
/* section.main {
    background: url("images/slider-bg.jpg") no-repeat center center;
} */
.form-control:focus{
    color:black;
}
.tt-menu {
    width: 304px;
    color: white;
}
label{
    color:white;
}
.form-group {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
div#search-results {
    display: flex;
    flex-direction: row;
    color: white;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color:white;
}
h1.middle-white {
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 36px;
}
ul.middle-white.text-left {
    color: white;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
@media screen and (max-width:768px) {
    section.main {
        padding: 0px;
    }
    h1.middle-white {
        margin: 0 auto;
        color: white;
        text-align: center;
        margin: 25px;
        font-size: 36px;
    }
    .form-group {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 12rem;
    }
    .form-control {
        display: block !important;
        width: 100% !important;
        height: calc(1.5em + .75rem + 2px);
        /* width: 35%; */
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
footer.bg-dark.text-center.text-white {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    margin-top: 200px;
}
.pt-120{
    padding: 120px;
}
.mt-120{
    margin-top:120px;
}
.mb-120{
    margin-bottom: 120px;
}
h3.yellow {
    color: yellow;
}
h3.red {
    color: red;
}
h3.green {
    color: green;
}
@media screen and (max-width:768px) {
    .pt-120 {
        padding: 0px;
    }
    .mt-120 {
        margin-top: 0px;
    }
    .mb-120 {
        margin-bottom: 0px;
    }
    div#search-results {
        display: flex;
        flex-direction: column;
        color: white;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        /* width: 35%; */
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.form-control {
    display: inline-block;
    /* width: 100%; */
    height: calc(1.5em + .75rem + 2px);
    width: 35%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h3.orange{
    color:orange;
}

.movie {
    margin-left: 25px;
    display: inline-block;
}