footer.bg-dark.text-center.text-white {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
body{
    background: url("images/slider-bg.jpg") no-repeat center center;
    background-size: cover;
}
/* section.main {
    background: url("images/slider-bg.jpg") no-repeat center center;
} */
.form-control:focus{
    color:black;
}
.tt-menu {
    width: 304px;
    color: white;
}
label{
    color:white;
}
.form-group {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
div#search-results {
    color: white;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color:white;
}
h1.middle-white {
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 36px;
}
ul.middle-white.text-left {
    color: white;
    font-size: 26px;
}
@media screen and (max-width:768px) {
    section.main {
        padding: 0px;
    }
    h1.middle-white {
        margin: 0 auto;
        color: white;
        text-align: center;
        margin: 25px;
        font-size: 36px;
    }
    .form-group {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 12rem;
    }
}
footer.bg-dark.text-center.text-white {
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    margin-top: 200px;
}
.pt-120{
    padding: 120px;
}
.mt-120{
    margin-top:120px;
}
.mb-120{
    margin-bottom: 120px;
}
h3.yellow {
    color: yellow;
}
h3.red {
    color: red;
}
h3.green {
    color: green;
}