<!DOCTYPE html>
<html>
  <head>
    <title>Поиск фильмов по категориям</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
  </head>
  <body>
      <!-- HEADER START -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Annoy-Films</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Головна <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchbycategory">Пошук за категоріями</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- HEADER END -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="middle-white pt-120">Поиск фильмов по категориям</h1>
        <form method="get" action="{{ url_for('search_by_category') }}">
          <label for="genre">Жанр:</label>
          <select name="genre" id="genre">
            <option value="Action">Екшн</option>
            <option value="Comedy">Комедія</option>
            <option value="Drama">Драма</option>
            <option value="Horror">Жахи</option>
          </select>
          <br>
          <label for="rating">Рейтинг:</label>
          <select name="rating" id="rating">
            <option value="5">5 зірок</option>
            <option value="4">4 зірок</option>
            <option value="3">3 зірок</option>
            <option value="2">2 зірок</option>
            <option value="1">1 зірок</option>
          </select>
          <br>
          <input type="submit" class="btn btn-primary" value="Найти">
        </form>
      </div>
    </div>
  </div>
 
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="middle-white pt-120">Похожие фильмы</h1>
          <ul class="middle-white text-left">
            {% if titles %}
            <h1>Результаты поиска:</h1>
            <ul>
              {% for title in titles %}
                <li>{{ title }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>Нет результатов поиска.</p>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- FOOTER START -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Annoy - це бібліотека Python, яка дозволяє здійснювати швидкий пошук найближчого сусіда векторів у великих наборах даних. Вона часто використовується для рекомендаційних систем, зокрема для пошуку схожих фільмів, які можуть сподобатися користувачам.
      </p>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Головна</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Що таке Annoy?</a>
            </li>
            <li>
              <a href="https://github.com/spotify/annoy" target="_blank" class="text-white">Annoy Github</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Виготовив Андрій Бєлоусов ПТ-19-1</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Більше Інформації</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="http://dirk.eddelbuettel.com/code/rcpp.annoy.html" class="text-white">R version of Annoy</a>
            </li>
            <li>
              <a href="https://github.com/spotify/annoy-java" class="text-white">Java version of annoy</a>
            </li>
            <li>
              <a href="https://github.com/pishen/annoy4s" class="text-white">Scala wrapper of Annoy</a>
            </li>
            <li>
              <a href="https://github.com/yoshoku/annoy.rb" class="text-white">Ruby blindings for Annoy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Корисна Інформація</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/hanabi1224/RuAnnoy" class="text-white">Rust version of Annoy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://google.com/"></a>
  </div>
</footer>
<!-- Footer END -->
  </body>
</html>